<mat-card>
    <mat-card-header>
        <mat-card-title>{{heroe?.superhero}}</mat-card-title>
        <mat-card-subtitle>{{heroe?.alter_ego}}</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="{{heroe | imgHero}}" [alt]="heroe?.superhero">
    <mat-card-content class="mt-2">
        <h4>{{heroe?.publisher}}</h4>
        <p>
            <strong>Primera aparicion</strong> {{heroe?.first_appearance}}
            <br>
            <mat-chip-listbox>
                <mat-chip *ngFor="let item of heroe?.characters?.split(',') | slice: 0:3">
                    {{item}}
                </mat-chip>
            </mat-chip-listbox>
        </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-button mat-raised color="primary" [routerLink]="['/heroes/edit', heroe?.id]">
            <mat-icon class="mat-18">edit</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button mat-raised [routerLink]="['/heroes', heroe?.id]">
            <mat-icon class="mat-18">more_horiz</mat-icon> Mas
        </button>
    </mat-card-actions>
</mat-card>